.todoLi {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #eee;
  margin: 5px 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .todoLiCheck {
    width: 15px;
    height: 15px;
    background: #444;
  }

  .todoLiText {
    font-size: 0.9rem;
    font-weight: 400;
    color: #444;
  }
}